
/* START FONTS */
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
/* END FONTS */


/* START SET REM VALUE */
html {
    font-size: 16px;
}
/* END SET REM VALUE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* scroll-behavior: smooth; */
    
    /* border: .5px solid lightsalmon; */
}

/* START VAR() */
:root {
    /* colors */
    --or:  #ff1e00;
    --org: #ff6319;
    --dblu:#3b4c5e;
    --blu: #315470;
    --lblu:#8f9da6;
    --blk: #111111;
    --wht: #ececec;
    --w:   #fafafa;
    --gr:  #228B22;
    --gf:  #b9d9eb;
    --gray:#b9b1ac;
    --offwhite: #f5f5f5;
    /* END COLORS */

    /* START FONT FAMILIES */
    --new: "Gruppo", sans-serif;
    /* END FONT FAMILIES */

    /* START FONT SIZE */
    --xl: 6.25rem;
    --lrg: 2.75rem;
    --md:  1.5rem;
    --ms:  1.21875rem;
    --s:   1.125rem;
    --sm:  1rem;

    --f-3: 3.0rem;
    --f-25: 2.5rem;
    --f-2: 2.0rem;
    --f-15: 1.5rem;
    --f-12: 1.2rem;
    --f-1:  1.0rem;
    /* END FONT SIZE */

    /* START MARGINS */
    --mg-75: 7.5rem;
    --mg-375: 3.75rem;
    --mg-3: 3rem;
    --mg-2: 2rem;
    --mg-125: 1.25rem;
    --mg-1: 1rem;
    /* END MARGINS */

    /* START PADDING */
    --pd-625: 6.25rem;
    --pd-3: 3rem;
    --pd-2: 2rem;
    --pd-15: 1.5rem;
    --pd-125: 1.25rem;
    --pd-1: 1.25rem;
    --pd-0625: 0.625rem;
    --pd-05: 0.5rem;
    /* END PADDING */
}
/* END VAR() */


/* START COLOR MODE */
.darkmode {
  --or: black;
  --dblu: black;
  --blu: black;
  --wht: #ff1e00;
  --blk: #ff1e00;
  --w: #1a1a1a;
  --nb: #0d0d0d;
  --offwhite:  #0d0d0d;
  --lblu: #1f1f1f;
  --blk-o: #ff1e00;
  --blk-w: #8f9da6;
}
/* END DARK MODE */


/* START GENERAL STYLES */
body {
    line-height: 1.6;
    background-color: var(--offwhite);
}
.container {
    color: var(--blk);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--pd-05);
}
/* END GENERAL STYLES */


/* START HEADER */
header {
    background-color: var(--or);
    color: var(--wht);
    padding: var(--pd-1) 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#logo {
    font-family: var(--new);
    color: var(--wht);
    font-size: var(--f-2);
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--new);
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-left: var(--mg-2);
}

nav ul li a {
    text-decoration: none;
    color: var(--wht);
    font-weight: bold;
    transition: font-size 0.3s ease;
    padding-inline: var(--pd-05);
}

nav ul li a:hover {
    font-size: var(--f-12);
    cursor: pointer;
}

.color-change-btn {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-left: auto;
    width: var(--f-1);
    height: var(--f-1);
    border-radius: 50%;
    border: none;
    background-color: var(--wht);
    
    transition: ease-in-out 0.3s;
    }

.color-change-btn:hover {
    background-color: var(--blk);
    width: var(--f-12);
    height: var(--f-12);
    }
/* END HEADER SECTIONS */

/* START HERO */
.hero {
    font-family: var(--new);
    background-color: var(--blu);
    color: var(--wht);
    text-align: center;
    padding: var(--pd-625) 0;
    margin-top: var(--mg-375);
}

.hero h1 {
    font-size: var(--f-3);
    color: var(--wht);
}

.hero p {
    font-size: var(--f-12);
    margin-bottom: var(--mg-2);
}
/* END HERO */


 /* START CENTER IMAGE IN CAROUSEL */
 #musings {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: -275px;
    font-family: var(--new);
    font-size: var(--xl);
    font-weight: 500;
    color: var(--blk);
  
    }
/* END CENTER IMAGE IN CAROUSEL */


/* START CAROUSEL */
.banner {
    width:      100%;
    height:     150vh;
    text-align: center;
    overflow:   hidden;
    position:   relative;
    border-radius: 1px;
    background-color: var(--offwhite);
}
.banner .slider {
    position: absolute;
    width:           15.625rem;
    height:          15.625rem;
    top:             30%;
    left:            calc(50% - 7.8125rem);
    transform-style: preserve-3d;
    transform:       perspective(6000px);
    animation:       autoRun 60s linear infinite;
    animation-fill-mode: forwards; 
}
.banner .slider .item {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    transform: 
         rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
         translateZ(17.375rem);
        }
    

.banner .slider .item img {
    width:      100%;
    height:     100%;
    object-fit: cover;
    transition: ease-in-out 0.3s;
    border-radius: 5px;
    }

.banner .slider .item img:hover {
    transform: scale(1.1);
    cursor: pointer;
    }


.custom-hr {
        border: none;                
        border-top: 2px solid var(--blk);  
        width: 66%;                 
        margin: auto;          
}   


.banner-2 {
    width:      100%;
    height:     10vh;
    text-align: center;
    overflow:   hidden;
    position:   relative;
    border-radius: 5px;
    background-color: var(--offwhite);
}
.banner-2 .slider-2 {
    position: absolute;
    width:           15.625rem;
    height:          15.625rem;
    top:             30%;
    left:            calc(50% - 7.8125rem);
    transform-style: preserve-3d;
    transform:       perspective(6000px);
    animation:       autoRun 98s linear infinite;
    animation-fill-mode: forwards; 
}
.banner-2 .slider-2 .item {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    transform: 
         rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
         translateZ(17.375rem);  
        }
        /*  translateZ(34.375rem);  */
    

.banner-2 .slider-2 .item img {
    width:      100%;
    height:     100%;
    object-fit: cover;
    transition: ease-in-out 0.3s;
    border-radius: 5px;
    }

.banner-2 .slider-2 .item img:hover {
    transform: scale(1.1);
    cursor: pointer;
    }


@keyframes autoRun {
    from {
        transform: perspective(300rem) rotateX(-23deg) rotateY(-360deg);
    }
    to {
        transform: perspective(300rem) rotateX(-23deg) rotateY(360deg);
    }
}


.content {
    display: flex;
}

/* END CAROUSEL */








/* START @MEDIA BASE FONT SIZE 16PX*/
@media (max-width: 1600px) {
    html {
        font-size: 16px;
    }

   
}
@media (max-width: 1200px) {
    html {
        font-size: 16px;
    }
   
}

@media (max-width: 992px) {
    html {
        font-size: 14px;
    }
    #logo {
        font-size: 32px;
    }
    nav ul li a {
        font-size: 16px;
    }
    h2 {
        font-size: 16px;
    }
   
    .color-change-btn {
        width: 16px;
        height: 16px;
    }
    .color-change-btn:hover {
        background-color: var(--blk);
        width: 18px;
        height: 18px;
        }
    .banner {
        width:      100%;
        height:     95vh;
        text-align: center;
        overflow:   hidden;
        position:   relative;
        border-radius: 1px;
        background-color: var(--offwhite);
    }
    #musings {
        margin-top: -200px;
    }
  
}


@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
    #logo {
        font-size: 28px;
    }
    .color-change-btn {
        width: 16px;
        height: 16px;
    }
    #h2 {
        font-size: 16px;
    }
}


@media (max-width: 600px) {
    html {
        font-size: 9px;
    }
    #logo {
        font-size: 24px;
    }
    .color-change-btn {
        width: 12px;
        height: 12px;
    }
    #h1 {
        padding-top: 28px;
        font-size: 32px;
    }
    .banner {
        width:      100%;
        height:     65vh;
        text-align: center;
        overflow:   hidden;
        position:   relative;
        border-radius: 1px;
        background-color: var(--offwhite);
    }
    .banner-2 {
        width:      100%;
        height:     65vh;
        text-align: center;
        overflow:   hidden;
        position:   relative;
        border-radius: 1px;
        background-color: var(--offwhite);
    }
    nav ul li a:hover {
        font-size: 1.5rem;
        cursor: pointer;
    }
    #musings {
        margin-top: -130px;
    }
    

}
/* END @MEDIA */

/* START CONTACT */
.contact {
    text-align: center;
    padding: var(--pd-625);
    background-color: var(--lblu);
    color: #fff;
}
.email-icon-2  {
    background: url('email-1.png') no-repeat center center;
    display: inline-block;
    width: 1.5rem; 
    height: 1.5rem;
    background-size: contain; 
    margin-right: 0.5rem; 
    vertical-align: middle; 
}

.email-icon-2 + a {
  font-family: var(--new);
  transition: font-size 0.3s ease-in-out;
  text-decoration: none;
  color: #fff;
}

.email-icon-2 + a:hover {
  font-size: var(--f-12);
}
/* END CONTACT */

/* START FOOTER */
footer {
    background-color: var(--dblu);
    color: var(--wht);
    padding: var(--pd-2) 0;
    font-family: var(--new);
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 2rem;
    color: var(--wht);
}
#footer-h2 {
    color: var(--wht);
    font-family: var(--new);
}
.phone-icon {
    background: url('img/phone-1.png') no-repeat center center;
    display: inline-block;
    width: 1.5rem; 
    height: 1.5rem;
    background-size: contain; 
    margin-right: 0.5rem; 
    vertical-align: middle; 
    color: #fff;
}


.phone-icon + a {
    transition: font-size 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
}

.phone-icon + a:hover {
    font-size: var(--f-12);
}


.email-icon  {
    background: url('img/email.png') no-repeat center center;
    display: inline-block;
    width: 1.5rem; 
    height: 1.5rem;
    background-size: contain; 
    margin-right: 0.5rem; 
    vertical-align: middle; 
}

.email-icon + a {
  transition: font-size 0.3s ease-in-out;
  text-decoration: none;
  color: #fff;
}


.email-icon + a:hover {
  font-size: var(--f-12);
}

#footer-p {
    padding-bottom: var(--pd-1);
    color: var(--wht);
}
/* END FOOTER */


/* START COPYRIGHT */
.copyright {
    text-align: center;
    margin-top: var(--mg-2);
    color: var(--wht);
}
/* END COPYRIGHT */